<div id="<%= dom_id monitored_endpoint %>">
  <div class="text-gray-600">
    <%= monitored_endpoint.url %> (Threshold: <%= monitored_endpoint.threshold %>ms, Interval: <%= monitored_endpoint.interval %> sec)
  </div>
</div>
