<%= turbo_frame_tag "details-#{@date}" do %>
  <div class="day-details">
    <header>
      <%= l @date %>
    </header>
    <% if @checks.present? %>
      <% @checks.each do |check| %>
        <div><%= l check.created_at, format: :short %>: <%= check.status %></div>
      <% end %>
    <% else %>
      Uptime: 100%
    <% end %>
  </div>
<% end %>
