:root {
  --btn-background: oklch(0.985 0 0);
  --btn-hover-color: oklch(0.968 0.007 247.896);
  --btn-color: oklch(0.141 0.005 285.823);
}

button,
input[type="button"],
input[type="submit"],
.btn {
  align-items: center;
  background-color: var(--btn-background);
  block-size: auto;
  border: 1px solid oklch(0.928 0.006 264.531);
  border-radius: 0.375rem;

  box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);

  color: var(--btn-color);
  column-gap: 0.5rem;
  cursor: default;
  display: inline-flex;
  inline-size: auto;
  justify-content: center;
  padding: 0.375rem 1rem;
  position: relative;
  white-space: nowrap;

  &:hover {
    background-color: var(--btn-hover-color);
  }
  &:focus-visible {
    outline: 2px solid oklch(0.424 0.199 265.638);
  }
  &:is(:disabled, [aria-disabled="true"]) {
    opacity: 0.5;
    pointer-events: none;
  }
}
