form {
  max-width: 640px;
}

label {
  display: block;
  font-size: 1rem;
}

input[type="text"],
input[type="number"],
input[type="email"],
input[type="password"],
input[type="url"],
textarea,
select {
  width: 100%;
  padding: 0.375rem;

  border: 1px solid oklch(0.967 0.001 286.375);
  outline: none;
  margin-block: 0.375rem;
}

input:hover {
  border-color: oklch(0.967 0.001 286.375);
}

input:focus {
  box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.2);
}

input[type="submit"] {
  padding: 0.5rem 1rem;
}
input[type="submit"]:hover {
  padding: 0.5rem 1rem;
  border-color: transparent;
}
input[type="submit"]:focus {
  padding: 0.5rem 1rem;
}

.field_with_errors label,
.field_with_errors input {
  color: oklch(57.7% 0.245 27.325);
  border-color: oklch(57.7% 0.245 27.325);
}
.error {
  color: oklch(57.7% 0.245 27.325);
}
